In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

#### Accessing Elements in a List

In [2]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

In [4]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())
print(bicycles[-1].title())

Trek
Specialized

In [5]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])
print(bicycles[-2])

cannondale
specialized
redline

#### Using Individual Values from a List

In [6]:
bicycles = ['trek', 'cannondale', 'veloce', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[2].title()}."
print(message)

My first bicycle was a Veloce.

#### Modifying Elements in a List

In [7]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

#### Appending Elements to the End of a List Using the **append()** Method

In [8]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [10]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

#### Inserting Elements into a List Using the **insert()** Method

In [1]:
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(1, 'ducati')

print(motorcycles)

['honda', 'ducati', 'yamaha', 'suzuki']

#### Removing an Item Using the **del** Statement

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

print(motorcycles)

del motorcycles[0]

print(motorcycles) 

del motorcycles[-2]

print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']
['suzuki']

#### Removing an Item Using the **pop()** Method

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)

print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [5]:
motorcycles = ['honda', 'suzuki', 'yamaha']
last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Yamaha.

In [8]:
motorcycles = ['yamaha', 'honda', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.upper()}.")

The first motorcycle I owned was a YAMAHA.

#### Removing an Item by Value Using the **remove()** Method

In [1]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [2]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)

print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

#### Sorting a List Permanently with the **sort()** Method

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

#### Sorting a List Temporarily with the **sorted()** Function

In [7]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [9]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the reversed sorted list:")
print(sorted(cars, reverse=True))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the reversed sorted list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [11]:
cars = ['bmw', 'Audi', 'toyota', 'Subaru']

print("Original list:")
print(cars)

print("\nSorted list (default behavior):")
print(sorted(cars))

print("\nSorted list (case-insensitive):")
print(sorted(cars, key=str.lower))

Original list:
['bmw', 'Audi', 'toyota', 'Subaru']

Sorted list (default behavior):
['Audi', 'Subaru', 'bmw', 'toyota']

Sorted list (case-insensitive):
['Audi', 'bmw', 'Subaru', 'toyota']

#### Printing a List in Reverse Order Uisng the **reverse()** Method

In [10]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

#### Finding the Length of a List Uisng the **len()** Function

In [12]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4