#### Looping Through an Entire List

In [9]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(magician.title())

Alice
David
Carolina

In [11]:
magicians = ['alice', 'david', 'carolina']

for index, magician in enumerate(magicians):
    print(f'Item {index} : {magician.title()}')

# enumerate() gives you both the index and the value at the same time, which is perfect for this situation.

Item 0 : Alice
Item 1 : David
Item 2 : Carolina

In [12]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [14]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

#### Making Numerical Lists Using the **range()** Function

In [19]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [18]:
for value in range(1, 5):
    print(value, end = ' ')

1 2 3 4

In [21]:
for value in range (5):
    print(value, end = ' ')

0 1 2 3 4

#### Using **range()** to Make a List of Numbers

In [22]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [24]:
squares = []

for value in range(1, 11):
    square = value ** 2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
squares = []

for value in range(1,11):
    squares.append(value**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Simple Statistics with a List of Numbers

In [28]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(f'Minimum: {min(digits)}')

print(f'Maximum: {max(digits)}')

print(f'Sum: {sum(digits)}')

Minimum: 0
Maximum: 9
Sum: 45

#### List Comprehensions

In [30]:
# Create a list called 'squares' using a list comprehension
# The expression 'value**2' means "square the number"
# 'for value in range(1, 11)' generates numbers from 1 through 10
# For each number in that range, Python calculates value**2 and stores it in the list
squares = [value**2 for value in range(1, 11)]

# Print the resulting list of squares
print(squares)

# This is a compact way to generate lists compared to writing a loop with .append()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
cubes = [value**3 for value in range (1, 11)]

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### pg-99